In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
results_df = pd.read_csv("../Resources/1950-2013/results.csv")
status_df = pd.read_csv("../Resources/1950-2013/status.csv")

In [3]:
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1

In [4]:
status_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [5]:
merged_df = results_df.merge(status_df, on='statusId', how='left')

In [6]:
merged_df.head(20)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1,Finished
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1,Finished
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1,Finished
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1,Finished
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1,Finished
5,6,18,6,3,8.0,13,6.0,6,6,3.0,57,NaN,NaN,50.0,14.0,01:29.6,212.974,11,+1 Lap
6,7,18,7,5,14.0,17,7.0,7,7,2.0,55,NaN,NaN,22.0,12.0,01:29.5,213.224,5,Engine
7,8,18,8,6,1.0,15,8.0,8,8,1.0,53,NaN,NaN,20.0,4.0,01:27.9,217.18,5,Engine
8,9,18,9,2,4.0,2,NaN,R,9,0.0,47,NaN,NaN,15.0,9.0,01:28.8,215.1,4,Collision
9,10,18,10,7,12.0,18,NaN,R,10,0.0,43,NaN,NaN,23.0,13.0,01:29.6,213.166,3,Accident
10,11,18,11,8,18.0,19,NaN,R,11,0.0,32,NaN,NaN,24.0,15.0,01:30.9,210.038,7,Transmission
11,12,18,12,4,6.0,20,NaN,R,12,0.0,30,NaN,NaN,20.0,16.0,01:31.4,208.907,8,Clutch
12,13,18,13,6,2.0,4,NaN,R,13,0.0,29,NaN,NaN,23.0,6.0,01:28.2,216.51,5,Engine
13,14,18,14,9,9.0,8,NaN,R,14,0.0,25,NaN,NaN,21.0,11.0,01:29.5,213.3,4,Collision
14,15,18,15,7,11.0,6,NaN,R,15,0.0,19,NaN,NaN,18.0,10.0,01:29.3,213.758,10,Electrical
15,16,18,16,10,20.0,22,NaN,R,16,0.0,8,NaN,NaN,8.0,17.0,01:32.0,207.461,9,Hydraulics
16,17,18,17,9,10.0,14,NaN,R,17,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision
17,18,18,18,11,16.0,12,NaN,R,18,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision
18,19,18,19,8,19.0,21,NaN,R,19,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision
19,20,18,20,5,15.0,9,NaN,R,20,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision

In [7]:
updated_results_df = merged_df.drop(columns=["statusId"])
updated_results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,Finished
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,Finished
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,Finished
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,Finished
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,Finished

In [8]:
#updated_results_df.to_csv("../Resources/1950-2013/merged_results_and_status.csv")

In [9]:
# Reading races csv and circuits csv
races_df = pd.read_csv("../Resources/1950-2013/races.csv")
circuits_df = pd.read_csv("../Resources/1950-2013/circuits.csv",encoding='latin1')

In [10]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [35]:
#dropped_url_circuits_df = circuits_df.drop(columns=["url"])
circuits_df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,NaN
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,NaN
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelI_,Spain,41.57000,2.26111,NaN
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,NaN

In [14]:
updated_results_df= updated_results_df.merge(races_df[["raceId","circuitId"]], on="raceId", how='left')

In [15]:
updated_results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status,circuitId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,Finished,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,Finished,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,Finished,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,Finished,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,Finished,1

In [17]:
updated_results_df = updated_results_df.merge(circuits_df[["circuitId","name","country"]], on="circuitId", how='left')

In [18]:
updated_results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status,circuitId,name,country
0,1,18,1,1,22.0,1,1.0,1,1,10.0,...,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,Finished,1,Albert Park Grand Prix Circuit,Australia
1,2,18,2,2,3.0,5,2.0,2,2,8.0,...,5.478,5696094.0,41.0,3.0,01:27.7,217.586,Finished,1,Albert Park Grand Prix Circuit,Australia
2,3,18,3,3,7.0,7,3.0,3,3,6.0,...,8.163,5698779.0,41.0,5.0,01:28.1,216.719,Finished,1,Albert Park Grand Prix Circuit,Australia
3,4,18,4,4,5.0,11,4.0,4,4,5.0,...,17.181,5707797.0,58.0,7.0,01:28.6,215.464,Finished,1,Albert Park Grand Prix Circuit,Australia
4,5,18,5,1,23.0,3,5.0,5,5,4.0,...,18.014,5708630.0,43.0,1.0,01:27.4,218.385,Finished,1,Albert Park Grand Prix Circuit,Australia

In [19]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [22]:
# Assuming 'year' is the name of the column containing the years
sorted_races_df = races_df.sort_values(by='year')

# Display the first few rows of the sorted DataFrame
sorted_races_df.head(30)

,raceId,year,round,circuitId,name,date,time,url
838,839,1950,7,14,Italian Grand Prix,1950-09-03,NaN,http://en.wikipedia.org/wiki/1950_Italian_Gran...
837,838,1950,6,55,French Grand Prix,1950-07-02,NaN,http://en.wikipedia.org/wiki/1950_French_Grand...
836,837,1950,5,13,Belgian Grand Prix,1950-06-18,NaN,http://en.wikipedia.org/wiki/1950_Belgian_Gran...
835,836,1950,4,66,Swiss Grand Prix,1950-06-04,NaN,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
834,835,1950,3,19,Indianapolis 500,1950-05-30,NaN,http://en.wikipedia.org/wiki/1950_Indianapolis...
833,834,1950,2,6,Monaco Grand Prix,1950-05-21,NaN,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
832,833,1950,1,9,British Grand Prix,1950-05-13,NaN,http://en.wikipedia.org/wiki/1950_British_Gran...
830,831,1951,7,14,Italian Grand Prix,1951-09-16,NaN,http://en.wikipedia.org/wiki/1951_Italian_Gran...
831,832,1951,8,67,Spanish Grand Prix,1951-10-28,NaN,http://en.wikipedia.org/wiki/1951_Spanish_Gran...
829,830,1951,6,20,German Grand Prix,1951-07-29,NaN,http://en.wikipedia.org/wiki/1951_German_Grand...
828,829,1951,5,9,British Grand Prix,1951-07-14,NaN,http://en.wikipedia.org/wiki/1951_British_Gran...
827,828,1951,4,55,French Grand Prix,1951-07-01,NaN,http://en.wikipedia.org/wiki/1951_French_Grand...
826,827,1951,3,13,Belgian Grand Prix,1951-06-17,NaN,http://en.wikipedia.org/wiki/1951_Belgian_Gran...
825,826,1951,2,19,Indianapolis 500,1951-05-30,NaN,http://en.wikipedia.org/wiki/1951_Indianapolis...
824,825,1951,1,66,Swiss Grand Prix,1951-05-27,NaN,http://en.wikipedia.org/wiki/1951_Swiss_Grand_...
816,817,1952,1,66,Swiss Grand Prix,1952-05-18,NaN,http://en.wikipedia.org/wiki/1952_Swiss_Grand_...
818,819,1952,3,13,Belgian Grand Prix,1952-06-22,NaN,http://en.wikipedia.org/wiki/1952_Belgian_Gran...
817,818,1952,2,19,Indianapolis 500,1952-05-30,NaN,http://en.wikipedia.org/wiki/1952_Indianapolis...
822,823,1952,7,39,Dutch Grand Prix,1952-08-17,NaN,http://en.wikipedia.org/wiki/1952_Dutch_Grand_...
821,822,1952,6,20,German Grand Prix,1952-08-03,NaN,http://en.wikipedia.org/wiki/1952_German_Grand...
820,821,1952,5,9,British Grand Prix,1952-07-19,NaN,http://en.wikipedia.org/wiki/1952_British_Gran...
819,820,1952,4,53,French Grand Prix,1952-07-06,NaN,http://en.wikipedia.org/wiki/1952_French_Grand...
823,824,1952,8,14,Italian Grand Prix,1952-09-07,NaN,http://en.wikipedia.org/wiki/1952_Italian_Gran...
815,816,1953,9,14,Italian Grand Prix,1953-09-13,NaN,http://en.wikipedia.org/wiki/1953_Italian_Gran...
814,815,1953,8,66,Swiss Grand Prix,1953-08-23,NaN,http://en.wikipedia.org/wiki/1953_Swiss_Grand_...
813,814,1953,7,20,German Grand Prix,1953-08-02,NaN,http://en.wikipedia.org/wiki/1953_German_Grand...
812,813,1953,6,9,British Grand Prix,1953-07-18,NaN,http://en.wikipedia.org/wiki/1953_British_Gran...
811,812,1953,5,55,French Grand Prix,1953-07-05,NaN,http://en.wikipedia.org/wiki/1953_French_Grand...
810,811,1953,4,13,Belgian Grand Prix,1953-06-21,NaN,http://en.wikipedia.org/wiki/1953_Belgian_Gran...
808,809,1953,2,19,Indianapolis 500,1953-05-30,NaN,http://en.wikipedia.org/wiki/1953_Indianapolis...

In [24]:
sorted_races_df.to_csv("../Resources/1950-2013/races_sorted_by_year.csv")

In [25]:
dropped_url_and_round_df =sorted_races_df.drop(columns=["url","round"])

In [26]:
dropped_url_and_round_df.head()

     raceId  year  circuitId                name        date time
838     839  1950         14  Italian Grand Prix  1950-09-03  NaN
837     838  1950         55   French Grand Prix  1950-07-02  NaN
836     837  1950         13  Belgian Grand Prix  1950-06-18  NaN
835     836  1950         66    Swiss Grand Prix  1950-06-04  NaN
834     835  1950         19    Indianapolis 500  1950-05-30  NaN

In [28]:
dropped_url_and_round_df.to_csv("../Resources/1950-2013/races_sorted_by_year.csv")

In [34]:
from unidecode import unidecode

# Read the CSV file into a DataFrame
df = circuits_df

# Assuming 'name' is the column with accent names
df['name'] = df['name'].apply(unidecode)
df['location'] = df['location'].apply(unidecode)

# Save the updated DataFrame to a new CSV file (optional)
#df.to_csv('updated_file.csv', index=False)

In [32]:
df.head(50)

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968000,10.0
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738000,NaN
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.510600,NaN
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel_,Spain,41.57000,2.261110,NaN
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.405000,NaN
5,6,monaco,Circuit de Monaco,Monte-Carlo,Monaco,43.73470,7.420560,NaN
6,7,villeneuve,Circuit Gilles Villeneuve,Montreal,Canada,45.50000,-73.522800,NaN
7,8,magny_cours,Circuit de Nevers Magny-Cours,Magny Cours,France,46.86420,3.163610,NaN
8,9,silverstone,Silverstone Circuit,Silverstone,UK,52.07860,-1.016940,NaN
9,10,hockenheimring,Hockenheimring,Hockenheim,Germany,49.32780,8.565830,NaN
10,11,hungaroring,Hungaroring,Budapest,Hungary,47.57890,19.248600,NaN
11,12,valencia,Valencia Street Circuit,Valencia,Spain,39.45890,-0.331667,NaN
12,13,spa,Circuit de Spa-Francorchamps,Spa,Belgium,50.43720,5.971390,NaN
13,14,monza,Autodromo Nazionale di Monza,Monza,Italy,45.61560,9.281110,NaN
14,15,marina_bay,Marina Bay Street Circuit,Marina Bay,Singapore,1.29140,103.864000,NaN
15,16,fuji,Fuji Speedway,Oyama,Japan,35.37170,138.927000,NaN
16,17,shanghai,Shanghai International Circuit,Shanghai,China,31.33890,121.220000,NaN
17,18,interlagos,AutI_dromo JosI(c) Carlos Pace,So Paulo,Brazil,-23.70360,-46.699700,NaN
18,19,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.79500,-86.234700,NaN
19,20,nurburgring,NI_rburgring,N_rburg,Germany,50.33560,6.947500,NaN
20,21,imola,Autodromo Enzo e Dino Ferrari,Imola,Italy,44.34390,11.716700,NaN
21,22,suzuka,Suzuka Circuit,Suzuka,Japan,34.84310,136.541000,NaN
22,23,osterreichring,A1-Ring,Spielburg,Austria,47.21970,14.764700,NaN
23,24,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.46720,54.603100,NaN
24,25,galvez,AutI_dromo Juan y Oscar GIAlvez,Buenos Aires,Argentina,-34.69430,-58.459300,NaN
25,26,jerez,Circuito de Jerez,Jerez de la Frontera,Spain,36.70830,-6.034170,NaN
26,27,estoril,AutI_dromo do Estoril,Estoril,Portugal,38.75060,-9.394170,NaN
27,28,okayama,Okayama International Circuit,Okayama,Japan,34.91500,134.221000,NaN
28,29,adelaide,Adelaide Street Circuit,Adelaide,Australia,-34.92720,138.617000,NaN
29,30,kyalami,Kyalami,Midrand,South Africa,-25.98940,28.076700,NaN
30,31,donington,Donington Park,Castle Donington,UK,52.83060,-1.375280,NaN
31,32,rodriguez,AutI_dromo Hermanos RodrI_guez,Mexico City,Mexico,19.40420,-99.090700,NaN
32,33,phoenix,Phoenix street circuit,Phoenix,USA,33.44790,-112.075000,NaN
33,34,ricard,Circuit Paul Ricard,Le Castellet,France,43.25060,5.791670,NaN
34,35,yeongam,Korean International Circuit,Yeongam County,Korea,34.73330,126.417000,NaN
35,36,jacarepagua,AutI_dromo Internacional Nelson Piquet,Rio de Janeiro,Brazil,-22.97560,-43.395000,NaN
36,37,detroit,Detroit Street Circuit,Detroit,USA,42.32980,-83.040100,NaN
37,38,brands_hatch,Brands Hatch,Kent,UK,51.35690,0.263056,NaN
38,39,zandvoort,Circuit Park Zandvoort,Zandvoort,Netherlands,52.38880,4.540920,NaN
39,40,zolder,Zolder,Heusden-Zolder,Belgium,50.98940,5.256940,NaN
40,41,dijon,Dijon-Prenois,Dijon,France,47.36250,4.899130,NaN
41,42,dallas,Fair Park,Dallas,USA,32.77740,-96.758700,NaN
42,43,long_beach,Long Beach,California,USA,33.76510,-118.189000,NaN
43,44,las_vegas,Las Vegas Street Circuit,Nevada,USA,36.11620,-115.174000,NaN
44,45,jarama,Jarama,Madrid,Spain,40.61710,-3.585580,NaN
45,46,watkins_glen,Watkins Glen,New York State,USA,42.33690,-76.927200,NaN
46,47,anderstorp,Scandinavian Raceway,Anderstorp,Sweden,57.26530,13.604200,NaN
47,48,mosport,Mosport International Raceway,Ontario,Canada,44.04810,-78.675600,NaN
48,49,montjuic,MontjuIoc,Barcelona,Spain,41.36640,2.151670,NaN
49,50,nivelles,Nivelles-Baulers,Brussels,Belgium,50.62110,4.326940,NaN