In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
results_df = pd.read_csv("../Resources/1950-2013/results.csv")
status_df = pd.read_csv("../Resources/1950-2013/status.csv")
driver_df = pd.read_csv("../Resources/1950-2013/drivers.csv",encoding='latin1')

In [48]:
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1

In [49]:
status_df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [50]:
merged_df = results_df.merge(status_df, on='statusId', how='left')

In [51]:
merged_df.head(20)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1,Finished
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1,Finished
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1,Finished
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1,Finished
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1,Finished
5,6,18,6,3,8.0,13,6.0,6,6,3.0,57,NaN,NaN,50.0,14.0,01:29.6,212.974,11,+1 Lap
6,7,18,7,5,14.0,17,7.0,7,7,2.0,55,NaN,NaN,22.0,12.0,01:29.5,213.224,5,Engine
7,8,18,8,6,1.0,15,8.0,8,8,1.0,53,NaN,NaN,20.0,4.0,01:27.9,217.18,5,Engine
8,9,18,9,2,4.0,2,NaN,R,9,0.0,47,NaN,NaN,15.0,9.0,01:28.8,215.1,4,Collision
9,10,18,10,7,12.0,18,NaN,R,10,0.0,43,NaN,NaN,23.0,13.0,01:29.6,213.166,3,Accident
10,11,18,11,8,18.0,19,NaN,R,11,0.0,32,NaN,NaN,24.0,15.0,01:30.9,210.038,7,Transmission
11,12,18,12,4,6.0,20,NaN,R,12,0.0,30,NaN,NaN,20.0,16.0,01:31.4,208.907,8,Clutch
12,13,18,13,6,2.0,4,NaN,R,13,0.0,29,NaN,NaN,23.0,6.0,01:28.2,216.51,5,Engine
13,14,18,14,9,9.0,8,NaN,R,14,0.0,25,NaN,NaN,21.0,11.0,01:29.5,213.3,4,Collision
14,15,18,15,7,11.0,6,NaN,R,15,0.0,19,NaN,NaN,18.0,10.0,01:29.3,213.758,10,Electrical
15,16,18,16,10,20.0,22,NaN,R,16,0.0,8,NaN,NaN,8.0,17.0,01:32.0,207.461,9,Hydraulics
16,17,18,17,9,10.0,14,NaN,R,17,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision
17,18,18,18,11,16.0,12,NaN,R,18,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision
18,19,18,19,8,19.0,21,NaN,R,19,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision
19,20,18,20,5,15.0,9,NaN,R,20,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,4,Collision

In [52]:
updated_results_df = merged_df.drop(columns=["statusId"])
updated_results_df = updated_results_df.dropna()
updated_results_df.head(50)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,Finished
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,Finished
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,Finished
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,Finished
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,Finished
22,23,19,8,6,1.0,2,1.0,1,1,10.0,56,31:18.6,5478555.0,37.0,2.0,01:35.4,209.158,Finished
23,24,19,9,2,4.0,4,2.0,2,2,8.0,56,19.57,5498125.0,39.0,6.0,01:35.9,208.033,Finished
24,25,19,5,1,23.0,8,3.0,3,3,6.0,56,38.45,5517005.0,19.0,7.0,01:35.9,208.031,Finished
25,26,19,15,7,11.0,3,4.0,4,4,5.0,56,45.832,5524387.0,53.0,8.0,01:36.1,207.715,Finished
26,27,19,1,1,22.0,9,5.0,5,5,4.0,56,46.548,5525103.0,53.0,3.0,01:35.5,209.033,Finished
27,28,19,2,2,3.0,5,6.0,6,6,3.0,56,49.833,5528388.0,55.0,1.0,01:35.4,209.244,Finished
28,29,19,17,9,10.0,6,7.0,7,7,2.0,56,+1:08.130,5546685.0,53.0,12.0,01:36.7,206.366,Finished
29,30,19,4,4,5.0,7,8.0,8,8,1.0,56,+1:10.041,5548596.0,40.0,10.0,01:36.3,207.24,Finished
30,31,19,14,9,9.0,12,9.0,9,9,0.0,56,+1:16.220,5554775.0,55.0,9.0,01:36.2,207.417,Finished
31,32,19,18,11,16.0,11,10.0,10,10,0.0,56,+1:26.214,5564769.0,56.0,4.0,01:35.7,208.481,Finished
32,33,19,12,4,6.0,13,11.0,11,11,0.0,56,+1:32.202,5570757.0,52.0,15.0,01:37.0,205.812,Finished
44,45,20,13,6,2.0,2,1.0,1,1,10.0,57,31:07.0,5466970.0,38.0,3.0,01:33.6,208.153,Finished
45,46,20,8,6,1.0,4,2.0,2,2,8.0,57,3.339,5470309.0,35.0,4.0,01:33.7,207.911,Finished
46,47,20,9,2,4.0,1,3.0,3,3,6.0,57,4.998,5471968.0,55.0,5.0,01:33.8,207.765,Finished
47,48,20,2,2,3.0,6,4.0,4,4,5.0,57,8.409,5475379.0,48.0,2.0,01:33.6,208.231,Finished
48,49,20,5,1,23.0,5,5.0,5,5,4.0,57,26.789,5493759.0,49.0,1.0,01:33.2,209.062,Finished
49,50,20,15,7,11.0,7,6.0,6,6,3.0,57,41.314,5508284.0,45.0,7.0,01:34.2,206.819,Finished
50,51,20,17,9,10.0,11,7.0,7,7,2.0,57,45.473,5512443.0,51.0,8.0,01:34.3,206.597,Finished
51,52,20,3,3,7.0,8,8.0,8,8,1.0,57,55.889,5522859.0,57.0,6.0,01:34.1,207.109,Finished
52,53,20,10,7,12.0,13,9.0,9,9,0.0,57,+1:09.500,5536470.0,56.0,9.0,01:34.8,205.503,Finished
53,54,20,4,4,5.0,10,10.0,10,10,0.0,57,+1:17.181,5544151.0,35.0,13.0,01:35.2,204.668,Finished
54,55,20,22,11,17.0,12,11.0,11,11,0.0,57,+1:17.862,5544832.0,40.0,10.0,01:34.9,205.399,Finished
66,67,21,8,6,1.0,1,1.0,1,1,10.0,66,38:19.1,5899051.0,46.0,1.0,01:21.7,205.191,Finished
67,68,21,13,6,2.0,3,2.0,2,2,8.0,66,3.228,5902279.0,45.0,2.0,01:21.8,204.863,Finished
68,69,21,1,1,22.0,5,3.0,3,3,6.0,66,4.187,5903238.0,20.0,3.0,01:22.0,204.323,Finished
69,70,21,9,2,4.0,4,4.0,4,4,5.0,66,5.694,5904745.0,20.0,4.0,01:22.1,204.102,Finished
70,71,21,17,9,10.0,7,5.0,5,5,4.0,66,35.938,5934989.0,19.0,8.0,01:22.6,202.969,Finished
71,72,21,18,11,16.0,13,6.0,6,6,3.0,66,53.01,5952061.0,66.0,5.0,01:22.4,203.489,Finished
72,73,21,6,3,8.0,12,7.0,7,7,2.0,66,58.244,5957295.0,48.0,15.0,01:23.5,200.576,Finished
73,74,21,15,7,11.0,8,8.0,8,8,1.0,66,59.435,5958486.0,45.0,10.0,01:22.8,202.494,Finished
74,75,21,2,2,3.0,9,9.0,9,9,0.0,66,+1:03.073,5962124.0,21.0,7.0,01:22.5,203.08,Finished
88,89,22,13,6,2.0,1,1.0,1,1,10.0,58,26:49.5,5209451.0,16.0,3.0,01:26.7,221.734,Finished
89,90,22,1,1,22.0,3,2.0,2,2,8.0,58,3.779,5213230.0,31.0,2.0,01:26.5,222.085,Finished
90,91,22,8,6,1.0,4,3.0,3,3,6.0,58,4.271,5213722.0,20.0,1.0,01:26.5,222.144,Finished
91,92,22,9,2,4.0,5,4.0,4,4,5.0,58,21.945,5231396.0,17.0,4.0,01:26.8,221.442,Finished
92,93,22,2,2,3.0,9,5.0,5,5,4.0,58,38.741,5248192.0,20.0,5.0,01:27.2,220.328,Finished
93,94,22,4,4,5.0,7,6.0,6,6,3.0,58,53.724,5263175.0,57.0,6.0,01:27.3,220.174,Finished
94,95,22,17,9,10.0,6,7.0,7,7,2.0,58,+1:04.229,5273680.0,14.0,7.0,01:27.6,219.294,Finished
95,96,22,3,3,7.0,11,8.0,8,8,1.0,58,+1:11.406,5280857.0,55.0,9.0,01:27.8,218.882,Finished
96,97,22,14,9,9.0,10,9.0,9,9,0.0,58,+1:15.270,5284721.0,41.0,12.0,01:28.0,218.457,Finished
97,98,22,15,7,11.0,8,10.0,10,10,0.0,58,+1:16.344,5285795.0,52.0,11.0,01:27.9,218.556,Finished
108,109,23,1,1,22.0,3,1.0,1,1,10.0,76,00:42.7,7242742.0,71.0,6.0,01:18.5,153.152,Finished
109,110,23,9,2,4.0,5,2.0,2,2,8.0,76,3.064,7245806.0,75.0,5.0,01:17.9,154.286,Finished
110,111,23,13,6,2.0,1,3.0,3,3,6.0,76,4.811,7247553.0,76.0,4.0,01:17.9,154.379,Finished
111,112,23,17,9,10.0,9,4.0,4,4,5.0,76,19.295,7262037.0,74.0,8.0,01:19.0,152.133,Finished

In [8]:
#updated_results_df.to_csv("../Resources/1950-2013/merged_results_and_status.csv")

In [53]:
# Reading races csv and circuits csv
races_df = pd.read_csv("../Resources/1950-2013/races.csv")
circuits_df = pd.read_csv("../Resources/1950-2013/circuits.csv",encoding='latin1')

In [54]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [55]:
#dropped_url_circuits_df = circuits_df.drop(columns=["url"])
circuits_df.head(20)

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968000,10.0
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738000,NaN
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.510600,NaN
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel_,Spain,41.57000,2.261110,NaN
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.405000,NaN
5,6,monaco,Circuit de Monaco,Monte-Carlo,Monaco,43.73470,7.420560,NaN
6,7,villeneuve,Circuit Gilles Villeneuve,Montreal,Canada,45.50000,-73.522800,NaN
7,8,magny_cours,Circuit de Nevers Magny-Cours,Magny Cours,France,46.86420,3.163610,NaN
8,9,silverstone,Silverstone Circuit,Silverstone,UK,52.07860,-1.016940,NaN
9,10,hockenheimring,Hockenheimring,Hockenheim,Germany,49.32780,8.565830,NaN
10,11,hungaroring,Hungaroring,Budapest,Hungary,47.57890,19.248600,NaN
11,12,valencia,Valencia Street Circuit,Valencia,Spain,39.45890,-0.331667,NaN
12,13,spa,Circuit de Spa-Francorchamps,Spa,Belgium,50.43720,5.971390,NaN
13,14,monza,Autodromo Nazionale di Monza,Monza,Italy,45.61560,9.281110,NaN
14,15,marina_bay,Marina Bay Street Circuit,Marina Bay,Singapore,1.29140,103.864000,NaN
15,16,fuji,Fuji Speedway,Oyama,Japan,35.37170,138.927000,NaN
16,17,shanghai,Shanghai International Circuit,Shanghai,China,31.33890,121.220000,NaN
17,18,interlagos,Aut_dromo Jos Carlos Pace,So Paulo,Brazil,-23.70360,-46.699700,NaN
18,19,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.79500,-86.234700,NaN
19,20,nurburgring,N_rburgring,N_rburg,Germany,50.33560,6.947500,NaN

In [56]:
updated_results_df= updated_results_df.merge(races_df[["raceId","circuitId"]], on="raceId", how='left')

In [76]:
updated_results_df.head(10)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status,circuitId,name,country
0,1,18,1,1,22.0,1,1.0,1,1,10.0,...,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,Finished,1,Albert Park Grand Prix Circuit,Australia
1,2,18,2,2,3.0,5,2.0,2,2,8.0,...,5.478,5696094.0,41.0,3.0,01:27.7,217.586,Finished,1,Albert Park Grand Prix Circuit,Australia
2,3,18,3,3,7.0,7,3.0,3,3,6.0,...,8.163,5698779.0,41.0,5.0,01:28.1,216.719,Finished,1,Albert Park Grand Prix Circuit,Australia
3,4,18,4,4,5.0,11,4.0,4,4,5.0,...,17.181,5707797.0,58.0,7.0,01:28.6,215.464,Finished,1,Albert Park Grand Prix Circuit,Australia
4,5,18,5,1,23.0,3,5.0,5,5,4.0,...,18.014,5708630.0,43.0,1.0,01:27.4,218.385,Finished,1,Albert Park Grand Prix Circuit,Australia
5,23,19,8,6,1.0,2,1.0,1,1,10.0,...,31:18.6,5478555.0,37.0,2.0,01:35.4,209.158,Finished,2,Sepang International Circuit,Malaysia
6,24,19,9,2,4.0,4,2.0,2,2,8.0,...,19.57,5498125.0,39.0,6.0,01:35.9,208.033,Finished,2,Sepang International Circuit,Malaysia
7,25,19,5,1,23.0,8,3.0,3,3,6.0,...,38.45,5517005.0,19.0,7.0,01:35.9,208.031,Finished,2,Sepang International Circuit,Malaysia
8,26,19,15,7,11.0,3,4.0,4,4,5.0,...,45.832,5524387.0,53.0,8.0,01:36.1,207.715,Finished,2,Sepang International Circuit,Malaysia
9,27,19,1,1,22.0,9,5.0,5,5,4.0,...,46.548,5525103.0,53.0,3.0,01:35.5,209.033,Finished,2,Sepang International Circuit,Malaysia

In [58]:
updated_results_df = updated_results_df.merge(circuits_df[["circuitId","name","country"]], on="circuitId", how='left')

In [77]:
updated_results_df.head(10)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status,circuitId,name,country
0,1,18,1,1,22.0,1,1.0,1,1,10.0,...,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,Finished,1,Albert Park Grand Prix Circuit,Australia
1,2,18,2,2,3.0,5,2.0,2,2,8.0,...,5.478,5696094.0,41.0,3.0,01:27.7,217.586,Finished,1,Albert Park Grand Prix Circuit,Australia
2,3,18,3,3,7.0,7,3.0,3,3,6.0,...,8.163,5698779.0,41.0,5.0,01:28.1,216.719,Finished,1,Albert Park Grand Prix Circuit,Australia
3,4,18,4,4,5.0,11,4.0,4,4,5.0,...,17.181,5707797.0,58.0,7.0,01:28.6,215.464,Finished,1,Albert Park Grand Prix Circuit,Australia
4,5,18,5,1,23.0,3,5.0,5,5,4.0,...,18.014,5708630.0,43.0,1.0,01:27.4,218.385,Finished,1,Albert Park Grand Prix Circuit,Australia
5,23,19,8,6,1.0,2,1.0,1,1,10.0,...,31:18.6,5478555.0,37.0,2.0,01:35.4,209.158,Finished,2,Sepang International Circuit,Malaysia
6,24,19,9,2,4.0,4,2.0,2,2,8.0,...,19.57,5498125.0,39.0,6.0,01:35.9,208.033,Finished,2,Sepang International Circuit,Malaysia
7,25,19,5,1,23.0,8,3.0,3,3,6.0,...,38.45,5517005.0,19.0,7.0,01:35.9,208.031,Finished,2,Sepang International Circuit,Malaysia
8,26,19,15,7,11.0,3,4.0,4,4,5.0,...,45.832,5524387.0,53.0,8.0,01:36.1,207.715,Finished,2,Sepang International Circuit,Malaysia
9,27,19,1,1,22.0,9,5.0,5,5,4.0,...,46.548,5525103.0,53.0,3.0,01:35.5,209.033,Finished,2,Sepang International Circuit,Malaysia

In [60]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [95]:
# Sort races_df by year
sorted_races_df = races_df.sort_values(by='year')

# Display the first few rows of the sorted DataFrame
sorted_races_df.tail(30)

,raceId,year,round,circuitId,name,date,time,url
963,976,2017,8,73,Azerbaijan Grand Prix,2017-06-25,13:00:00,https://en.wikipedia.org/wiki/2017_Azerbaijan_...
962,975,2017,7,7,Canadian Grand Prix,2017-06-11,18:00:00,https://en.wikipedia.org/wiki/2017_Canadian_Gr...
961,974,2017,6,6,Monaco Grand Prix,2017-05-28,12:00:00,https://en.wikipedia.org/wiki/2017_Monaco_Gran...
960,973,2017,5,4,Spanish Grand Prix,2017-05-14,12:00:00,https://en.wikipedia.org/wiki/2017_Spanish_Gra...
959,972,2017,4,71,Russian Grand Prix,2017-04-30,12:00:00,https://en.wikipedia.org/wiki/2017_Russian_Gra...
958,971,2017,3,3,Bahrain Grand Prix,2017-04-16,15:00:00,https://en.wikipedia.org/wiki/2017_Bahrain_Gra...
957,970,2017,2,17,Chinese Grand Prix,2017-04-09,06:00:00,https://en.wikipedia.org/wiki/2017_Chinese_Gra...
956,969,2017,1,1,Australian Grand Prix,2017-03-26,05:00:00,https://en.wikipedia.org/wiki/2017_Australian_...
965,978,2017,10,9,British Grand Prix,2017-07-16,12:00:00,https://en.wikipedia.org/wiki/2017_British_Gra...
988,1001,2018,13,13,Belgian Grand Prix,2018-08-26,12:00:00,http://en.wikipedia.org/wiki/2018_Belgian_Gran...
989,1002,2018,14,14,Italian Grand Prix,2018-09-02,12:00:00,http://en.wikipedia.org/wiki/2018_Italian_Gran...
990,1003,2018,15,15,Singapore Grand Prix,2018-09-16,12:00:00,http://en.wikipedia.org/wiki/2018_Singapore_Gr...
994,1007,2018,19,32,Mexican Grand Prix,2018-10-28,19:00:00,http://en.wikipedia.org/wiki/2018_Mexican_Gran...
992,1005,2018,17,22,Japanese Grand Prix,2018-10-07,05:00:00,http://en.wikipedia.org/wiki/2018_Japanese_Gra...
993,1006,2018,18,69,United States Grand Prix,2018-10-21,19:00:00,http://en.wikipedia.org/wiki/2018_United_State...
987,1000,2018,12,11,Hungarian Grand Prix,2018-07-29,12:00:00,http://en.wikipedia.org/wiki/2018_Hungarian_Gr...
991,1004,2018,16,71,Russian Grand Prix,2018-09-30,12:00:00,http://en.wikipedia.org/wiki/2018_Russian_Gran...
986,999,2018,11,10,German Grand Prix,2018-07-22,12:00:00,http://en.wikipedia.org/wiki/2018_German_Grand...
981,994,2018,6,6,Monaco Grand Prix,2018-05-27,12:00:00,http://en.wikipedia.org/wiki/2018_Monaco_Grand...
984,997,2018,9,70,Austrian Grand Prix,2018-07-01,12:00:00,http://en.wikipedia.org/wiki/2018_Austrian_Gra...
983,996,2018,8,34,French Grand Prix,2018-06-24,12:00:00,http://en.wikipedia.org/wiki/2018_French_Grand...
982,995,2018,7,7,Canadian Grand Prix,2018-06-10,18:00:00,http://en.wikipedia.org/wiki/2018_Canadian_Gra...
980,993,2018,5,4,Spanish Grand Prix,2018-05-13,12:00:00,http://en.wikipedia.org/wiki/2018_Spanish_Gran...
979,992,2018,4,73,Azerbaijan Grand Prix,2018-04-29,13:00:00,http://en.wikipedia.org/wiki/2018_Azerbaijan_G...
978,991,2018,3,17,Chinese Grand Prix,2018-05-15,06:00:00,http://en.wikipedia.org/wiki/2018_Chinese_Gran...
977,990,2018,2,3,Bahrain Grand Prix,2018-04-08,15:00:00,http://en.wikipedia.org/wiki/2018_Bahrain_Gran...
976,989,2018,1,1,Australian Grand Prix,2018-03-25,05:00:00,http://en.wikipedia.org/wiki/2018_Australian_G...
995,1008,2018,20,18,Brazilian Grand Prix,2018-11-11,16:00:00,http://en.wikipedia.org/wiki/2018_Brazilian_Gr...
985,998,2018,10,9,British Grand Prix,2018-07-08,12:00:00,http://en.wikipedia.org/wiki/2018_British_Gran...
996,1009,2018,21,24,Abu Dhabi Grand Prix,2018-11-25,13:00:00,http://en.wikipedia.org/wiki/2018_Abu_Dhabi_Gr...

In [62]:
sorted_races_df.to_csv("../Resources/1950-2013/races_sorted_by_year.csv")

In [63]:
dropped_url_and_round_df =sorted_races_df.drop(columns=["url","round"])

In [64]:
dropped_url_and_round_df.head()

     raceId  year  circuitId                name        date time
838     839  1950         14  Italian Grand Prix  1950-09-03  NaN
837     838  1950         55   French Grand Prix  1950-07-02  NaN
836     837  1950         13  Belgian Grand Prix  1950-06-18  NaN
835     836  1950         66    Swiss Grand Prix  1950-06-04  NaN
834     835  1950         19    Indianapolis 500  1950-05-30  NaN

In [65]:
dropped_url_and_round_df.to_csv("../Resources/1950-2013/races_sorted_by_year.csv")

In [72]:
from unidecode import unidecode

# Read the CSV file into a DataFrame
df = circuits_df

# Assuming 'name' is the column with accent names
df['name'] = df['name'].apply(unidecode)
df['location'] = df['location'].apply(unidecode)
def remove_accents(text):
    return unidecode(text)
df['name'] = df['name'].apply(remove_accents)
df['location'] = df['location'].apply(remove_accents)

In [73]:
df.head(50)

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968000,10.0
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738000,NaN
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.510600,NaN
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelI_,Spain,41.57000,2.261110,NaN
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.405000,NaN
5,6,monaco,Circuit de Monaco,Monte-Carlo,Monaco,43.73470,7.420560,NaN
6,7,villeneuve,Circuit Gilles Villeneuve,Montreal,Canada,45.50000,-73.522800,NaN
7,8,magny_cours,Circuit de Nevers Magny-Cours,Magny Cours,France,46.86420,3.163610,NaN
8,9,silverstone,Silverstone Circuit,Silverstone,UK,52.07860,-1.016940,NaN
9,10,hockenheimring,Hockenheimring,Hockenheim,Germany,49.32780,8.565830,NaN
10,11,hungaroring,Hungaroring,Budapest,Hungary,47.57890,19.248600,NaN
11,12,valencia,Valencia Street Circuit,Valencia,Spain,39.45890,-0.331667,NaN
12,13,spa,Circuit de Spa-Francorchamps,Spa,Belgium,50.43720,5.971390,NaN
13,14,monza,Autodromo Nazionale di Monza,Monza,Italy,45.61560,9.281110,NaN
14,15,marina_bay,Marina Bay Street Circuit,Marina Bay,Singapore,1.29140,103.864000,NaN
15,16,fuji,Fuji Speedway,Oyama,Japan,35.37170,138.927000,NaN
16,17,shanghai,Shanghai International Circuit,Shanghai,China,31.33890,121.220000,NaN
17,18,interlagos,AutI_dromo JosI(c) Carlos Pace,SIPSo Paulo,Brazil,-23.70360,-46.699700,NaN
18,19,indianapolis,Indianapolis Motor Speedway,Indianapolis,USA,39.79500,-86.234700,NaN
19,20,nurburgring,NI_rburgring,NI_rburg,Germany,50.33560,6.947500,NaN
20,21,imola,Autodromo Enzo e Dino Ferrari,Imola,Italy,44.34390,11.716700,NaN
21,22,suzuka,Suzuka Circuit,Suzuka,Japan,34.84310,136.541000,NaN
22,23,osterreichring,A1-Ring,Spielburg,Austria,47.21970,14.764700,NaN
23,24,yas_marina,Yas Marina Circuit,Abu Dhabi,UAE,24.46720,54.603100,NaN
24,25,galvez,AutI_dromo Juan y Oscar GIAlvez,Buenos Aires,Argentina,-34.69430,-58.459300,NaN
25,26,jerez,Circuito de Jerez,Jerez de la Frontera,Spain,36.70830,-6.034170,NaN
26,27,estoril,AutI_dromo do Estoril,Estoril,Portugal,38.75060,-9.394170,NaN
27,28,okayama,Okayama International Circuit,Okayama,Japan,34.91500,134.221000,NaN
28,29,adelaide,Adelaide Street Circuit,Adelaide,Australia,-34.92720,138.617000,NaN
29,30,kyalami,Kyalami,Midrand,South Africa,-25.98940,28.076700,NaN
30,31,donington,Donington Park,Castle Donington,UK,52.83060,-1.375280,NaN
31,32,rodriguez,AutI_dromo Hermanos RodrI_guez,Mexico City,Mexico,19.40420,-99.090700,NaN
32,33,phoenix,Phoenix street circuit,Phoenix,USA,33.44790,-112.075000,NaN
33,34,ricard,Circuit Paul Ricard,Le Castellet,France,43.25060,5.791670,NaN
34,35,yeongam,Korean International Circuit,Yeongam County,Korea,34.73330,126.417000,NaN
35,36,jacarepagua,AutI_dromo Internacional Nelson Piquet,Rio de Janeiro,Brazil,-22.97560,-43.395000,NaN
36,37,detroit,Detroit Street Circuit,Detroit,USA,42.32980,-83.040100,NaN
37,38,brands_hatch,Brands Hatch,Kent,UK,51.35690,0.263056,NaN
38,39,zandvoort,Circuit Park Zandvoort,Zandvoort,Netherlands,52.38880,4.540920,NaN
39,40,zolder,Zolder,Heusden-Zolder,Belgium,50.98940,5.256940,NaN
40,41,dijon,Dijon-Prenois,Dijon,France,47.36250,4.899130,NaN
41,42,dallas,Fair Park,Dallas,USA,32.77740,-96.758700,NaN
42,43,long_beach,Long Beach,California,USA,33.76510,-118.189000,NaN
43,44,las_vegas,Las Vegas Street Circuit,Nevada,USA,36.11620,-115.174000,NaN
44,45,jarama,Jarama,Madrid,Spain,40.61710,-3.585580,NaN
45,46,watkins_glen,Watkins Glen,New York State,USA,42.33690,-76.927200,NaN
46,47,anderstorp,Scandinavian Raceway,Anderstorp,Sweden,57.26530,13.604200,NaN
47,48,mosport,Mosport International Raceway,Ontario,Canada,44.04810,-78.675600,NaN
48,49,montjuic,MontjuIoc,Barcelona,Spain,41.36640,2.151670,NaN
49,50,nivelles,Nivelles-Baulers,Brussels,Belgium,50.62110,4.326940,NaN

In [81]:
driver_df.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [82]:
dropped_num_and_url = driver_df.drop(columns=["url","number"])

In [83]:
dropped_num_and_url.head()

   driverId   driverRef code  forename     surname         dob nationality
0         1    hamilton  HAM     Lewis    Hamilton  07/01/1985     British
1         2    heidfeld  HEI      Nick    Heidfeld  10/05/1977      German
2         3     rosberg  ROS      Nico     Rosberg  27/06/1985      German
3         4      alonso  ALO  Fernando      Alonso  29/07/1981     Spanish
4         5  kovalainen  KOV    Heikki  Kovalainen  19/10/1981     Finnish

In [89]:
clean_drivers_df = dropped_num_and_url

def remove_accents(text):
    return unidecode(text)
clean_drivers_df['surname'] = clean_drivers_df['surname'].apply(unidecode)
clean_drivers_df['forename'] = clean_drivers_df['forename'].apply(unidecode)
clean_drivers_df.to_csv("../Resources/1950-2013/clean_drivers.csv")

In [88]:
clean_drivers_df.head(30)

,driverId,driverRef,code,forename,surname,dob,nationality
0,1,hamilton,HAM,Lewis,Hamilton,07/01/1985,British
1,2,heidfeld,HEI,Nick,Heidfeld,10/05/1977,German
2,3,rosberg,ROS,Nico,Rosberg,27/06/1985,German
3,4,alonso,ALO,Fernando,Alonso,29/07/1981,Spanish
4,5,kovalainen,KOV,Heikki,Kovalainen,19/10/1981,Finnish
5,6,nakajima,NAK,Kazuki,Nakajima,11/01/1985,Japanese
6,7,bourdais,BOU,SI(c)bastien,Bourdais,28/02/1979,French
7,8,raikkonen,RAI,Kimi,RI_ikkI|nen,17/10/1979,Finnish
8,9,kubica,KUB,Robert,Kubica,07/12/1984,Polish
9,10,glock,GLO,Timo,Glock,18/03/1982,German
10,11,sato,SAT,Takuma,Sato,28/01/1977,Japanese
11,12,piquet_jr,PIQ,Nelson,Piquet Jr.,25/07/1985,Brazilian
12,13,massa,MAS,Felipe,Massa,25/04/1981,Brazilian
13,14,coulthard,COU,David,Coulthard,27/03/1971,British
14,15,trulli,TRU,Jarno,Trulli,13/07/1974,Italian
15,16,sutil,SUT,Adrian,Sutil,11/01/1983,German
16,17,webber,WEB,Mark,Webber,27/08/1976,Australian
17,18,button,BUT,Jenson,Button,19/01/1980,British
18,19,davidson,DAV,Anthony,Davidson,18/04/1979,British
19,20,vettel,VET,Sebastian,Vettel,03/07/1987,German
20,21,fisichella,FIS,Giancarlo,Fisichella,14/01/1973,Italian
21,22,barrichello,BAR,Rubens,Barrichello,23/05/1972,Brazilian
22,23,ralf_schumacher,SCH,Ralf,Schumacher,30/06/1975,German
23,24,liuzzi,LIU,Vitantonio,Liuzzi,06/08/1980,Italian
24,25,wurz,WUR,Alexander,Wurz,15/02/1974,Austrian
25,26,speed,SPE,Scott,Speed,24/01/1983,American
26,27,albers,ALB,Christijan,Albers,16/04/1979,Dutch
27,28,markus_winkelhock,WIN,Markus,Winkelhock,13/06/1980,German
28,29,yamamoto,YAM,Sakon,Yamamoto,09/07/1982,Japanese
29,30,michael_schumacher,MSC,Michael,Schumacher,03/01/1969,German

In [91]:
updated_results_df.to_csv("../Resources/1950-2013/updated_results.csv")

In [92]:
updated_results_df = updated_results_df.merge(races_df[["raceId","year"]], on="raceId", how='left')

In [94]:
updated_results_df.to_csv("../Resources/1950-2013/updated_results.csv")