In [221]:
import pandas as pd
import numpy as np

In [222]:
#first we must merge all datasets for 2013-2022
#begin by reading in all the CSV files
results_2013 = pd.read_csv('../Resources/2013-2023/RaceResults_2013.csv')
results_2014 = pd.read_csv('../Resources/2013-2023/RaceResults_2014.csv')
results_2015 = pd.read_csv('../Resources/2013-2023/RaceResults_2015.csv')
results_2016 = pd.read_csv('../Resources/2013-2023/RaceResults_2016.csv')
results_2017 = pd.read_csv('../Resources/2013-2023/RaceResults_2017.csv')
results_2018 = pd.read_csv('../Resources/2013-2023/RaceResults_2018.csv')
results_2019 = pd.read_csv('../Resources/2013-2023/RaceResults_2019.csv')
results_2020 = pd.read_csv('../Resources/2013-2023/RaceResults_2020.csv')
results_2021 = pd.read_csv('../Resources/2013-2023/RaceResults_2021.csv')
results_2022 = pd.read_csv('../Resources/2013-2023/RaceResults_2022.csv')

In [223]:
#normalize the data
#2013-2017 datasets do not include the year of the race
results_2013 = results_2013.assign(Year = 2013)
results_2014 = results_2014.assign(Year = 2014)
results_2015 = results_2015.assign(Year = 2015)
results_2016 = results_2016.assign(Year = 2016)
results_2017 = results_2017.assign(Year = 2017)
#results_2017.head(5)

#2021 and 2022 have an extra column to be dropped
results_2021= results_2021.drop(columns=["+1 Pt"])
results_2022= results_2022.drop(columns=["+1 Pt"])
#results_2022.head(5)

#2021 year column has 2020 
results_2021 = results_2021.assign(Year = 2021)
#results_2021.tail(5)

#Time Column is not named the same in all CSV files - 2020 & 2019 are different
results_2019 = results_2019.rename(columns={'Total Time/Gap/Retirement' : "Time/Retired"})
results_2020 = results_2020.rename(columns={'Total Time/Gap/Retirement' : "Time/Retired"})
results_2019

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Fastest Lap,Year
0,Australia,1,77,Valtteri Bottas,Mercedes,2,58,25:27.3,26,Yes,2019
1,Australia,2,44,Lewis Hamilton,Mercedes,1,58,20.886,18,No,2019
2,Australia,3,33,Max Verstappen,Red Bull Racing Honda,4,58,22.52,15,No,2019
3,Australia,4,5,Sebastian Vettel,Ferrari,3,58,57.109,12,No,2019
4,Australia,5,16,Charles Leclerc,Ferrari,5,58,58.23,10,No,2019
...,...,...,...,...,...,...,...,...,...,...,...
415,Abu Dhabi,16,99,Antonio Giovinazzi,Alfa Romeo Racing Ferrari,16,54,+1 lap,0,No,2019
416,Abu Dhabi,17,63,George Russell,Williams Mercedes,18,54,+1 lap,0,No,2019
417,Abu Dhabi,18,10,Pierre Gasly,Scuderia Toro Rosso Honda,11,53,+2 laps,0,No,2019
418,Abu Dhabi,19,88,Robert Kubica,Williams Mercedes,19,53,+2 laps,0,No,2019
419,Abu Dhabi,NC,18,Lance Stroll,Racing Point BWT Mercedes,12,45,DNF,0,No,2019

In [224]:
#merge into one dataframe
data_2013_2022 = results_2013.merge(results_2014, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2015, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2016, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2017, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2018, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2019, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2020, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2021, how='outer')
data_2013_2022 = data_2013_2022.merge(results_2022, how='outer')
#data_2013_2022.tail(20)

C:\Users\tatia\AppData\Local\Temp\ipykernel_9748\1084514787.py:9: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  data_2013_2022 = data_2013_2022.merge(results_2021, how='outer')
C:\Users\tatia\AppData\Local\Temp\ipykernel_9748\1084514787.py:10: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  data_2013_2022 = data_2013_2022.merge(results_2022, how='outer')

In [225]:
data_2013_2022 = data_2013_2022.drop(columns=["No", "Time/Retired", "Points"])
data_2013_2022 = data_2013_2022.rename(columns={'Fastest Lap' : "Fastest Lap Time", "Team" : "Constructor", "Starting Grid" : "Starting Position", \
                                                "Position" : "Ending Position"})
data_2013_2022

,Track,Ending Position,Driver,Constructor,Starting Position,Laps,Fastest Lap Time,Year
0,Australia,1,Kimi RaikkÃ¶nen,Lotus Renault,7.0,58,1:29.274,2013
1,Australia,2,Fernando Alonso,Ferrari,5.0,58,1:29.560,2013
2,Australia,3,Sebastian Vettel,Red Bull Racing Renault,1.0,58,1:30.409,2013
3,Australia,4,Felipe Massa,Ferrari,4.0,58,1:30.239,2013
4,Australia,5,Lewis Hamilton,Mercedes,3.0,58,1:29.759,2013
...,...,...,...,...,...,...,...,...
4118,Abu Dhabi,16,Mick Schumacher,Haas Ferrari,12.0,57,01:29.8,2022
4119,Abu Dhabi,17,Kevin Magnussen,Haas Ferrari,16.0,57,01:31.2,2022
4120,Abu Dhabi,18,Lewis Hamilton,Mercedes,5.0,55,01:29.8,2022
4121,Abu Dhabi,19,Nicholas Latifi,Williams Mercedes,20.0,55,01:30.3,2022
4122,Abu Dhabi,NC,Fernando Alonso,Alpine Renault,10.0,27,01:30.6,2022

In [226]:
#reorder the columns
data_2013_2022 = data_2013_2022.reindex(['Year', 'Track', 'Constructor','Driver', 'Starting Position', 'Ending Position', 'Laps', \
                                         'Fastest Lap Time'], axis=1)
data_2013_2022

,Year,Track,Constructor,Driver,Starting Position,Ending Position,Laps,Fastest Lap Time
0,2013,Australia,Lotus Renault,Kimi RaikkÃ¶nen,7.0,1,58,1:29.274
1,2013,Australia,Ferrari,Fernando Alonso,5.0,2,58,1:29.560
2,2013,Australia,Red Bull Racing Renault,Sebastian Vettel,1.0,3,58,1:30.409
3,2013,Australia,Ferrari,Felipe Massa,4.0,4,58,1:30.239
4,2013,Australia,Mercedes,Lewis Hamilton,3.0,5,58,1:29.759
...,...,...,...,...,...,...,...,...
4118,2022,Abu Dhabi,Haas Ferrari,Mick Schumacher,12.0,16,57,01:29.8
4119,2022,Abu Dhabi,Haas Ferrari,Kevin Magnussen,16.0,17,57,01:31.2
4120,2022,Abu Dhabi,Mercedes,Lewis Hamilton,5.0,18,55,01:29.8
4121,2022,Abu Dhabi,Williams Mercedes,Nicholas Latifi,20.0,19,55,01:30.3
4122,2022,Abu Dhabi,Alpine Renault,Fernando Alonso,10.0,NC,27,01:30.6

In [227]:
#now we begin cleaning the 1950-2013 dataset

#read in the CSV file
data_1950_2012  = pd.read_csv("../Resources/1950-2013/results.csv")
data_1950_2012

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,34:50.6,5690616.0,39.0,2.0,01:27.5,218.3,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,5.478,5696094.0,41.0,3.0,01:27.7,217.586,1
2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,8.163,5698779.0,41.0,5.0,01:28.1,216.719,1
3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,17.181,5707797.0,58.0,7.0,01:28.6,215.464,1
4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,18.014,5708630.0,43.0,1.0,01:27.4,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23772,23777,988,842,5,10.0,17,16.0,16,16,0.0,54,NaN,NaN,33.0,16.0,01:43.8,192.542,11
23773,23778,988,828,15,9.0,19,17.0,17,17,0.0,54,NaN,NaN,36.0,15.0,01:43.6,193.057,11
23774,23779,988,840,3,18.0,15,18.0,18,18,0.0,54,NaN,NaN,52.0,6.0,01:42.3,195.402,11
23775,23780,988,832,4,55.0,12,NaN,R,19,0.0,31,NaN,NaN,26.0,14.0,01:43.4,193.41,36
23776,23781,988,817,9,3.0,4,NaN,R,20,0.0,20,NaN,NaN,13.0,12.0,01:42.8,194.579,9

In [228]:
#drop columns we won't be using
data_1950_2012 = data_1950_2012.drop(columns=["number", "grid", "positionText", "points", "time", "milliseconds", "fastestLap", "fastestLapSpeed", "rank", "statusId"])
data_1950_2012

,resultId,raceId,driverId,constructorId,position,positionOrder,laps,fastestLapTime
0,1,18,1,1,1.0,1,58,01:27.5
1,2,18,2,2,2.0,2,58,01:27.7
2,3,18,3,3,3.0,3,58,01:28.1
3,4,18,4,4,4.0,4,58,01:28.6
4,5,18,5,1,5.0,5,58,01:27.4
...,...,...,...,...,...,...,...,...
23772,23777,988,842,5,16.0,16,54,01:43.8
23773,23778,988,828,15,17.0,17,54,01:43.6
23774,23779,988,840,3,18.0,18,54,01:42.3
23775,23780,988,832,4,NaN,19,31,01:43.4
23776,23781,988,817,9,NaN,20,20,01:42.8

In [229]:
#renaming one of the columns
data_1950_2012 = data_1950_2012.rename(columns={'fastestLapTime' : "Fastest Lap Time"})
data_1950_2012 = data_1950_2012.rename(columns={'positionOrder' : "Starting Grid"})
data_1950_2012

,resultId,raceId,driverId,constructorId,position,Starting Grid,laps,Fastest Lap Time
0,1,18,1,1,1.0,1,58,01:27.5
1,2,18,2,2,2.0,2,58,01:27.7
2,3,18,3,3,3.0,3,58,01:28.1
3,4,18,4,4,4.0,4,58,01:28.6
4,5,18,5,1,5.0,5,58,01:27.4
...,...,...,...,...,...,...,...,...
23772,23777,988,842,5,16.0,16,54,01:43.8
23773,23778,988,828,15,17.0,17,54,01:43.6
23774,23779,988,840,3,18.0,18,54,01:42.3
23775,23780,988,832,4,NaN,19,31,01:43.4
23776,23781,988,817,9,NaN,20,20,01:42.8

In [230]:
#we will replace null values with appropriate values
#first the position column
data_1950_2012['Fastest Lap Time'].fillna("DNF", inplace=True)
data_1950_2012['position'].fillna("NC", inplace=True)

In [231]:
#now we will start joing with other CSVs to replace the id placeholders
#replace the driver names first
driver_df = pd.read_csv("../Resources/1950-2013/drivers.csv", encoding='latin1')
data_1950_2012 = data_1950_2012.merge(driver_df[["driverId", "forename","surname"]], on="driverId", how='left')
data_1950_2012["Driver"] = data_1950_2012['forename'].astype(str) + " " + data_1950_2012['surname'].astype(str)
data_1950_2012 = data_1950_2012.drop(columns=["driverId", "forename", "surname"])

#replace the raceId next
races_df = pd.read_csv("../Resources/1950-2013/races.csv")
data_1950_2012 = data_1950_2012.merge(races_df[["raceId", "year", "circuitId"]], on="raceId", how = 'left')

#replacing circuitId to get the country
circuits_df = pd.read_csv("../Resources/1950-2013/circuits.csv", encoding='latin1')
data_1950_2012 = data_1950_2012.merge(circuits_df[["circuitId", "country"]], on='circuitId', how = 'left')

#replacing constructorId
constructors_df = pd.read_csv("../Resources/1950-2013/constructors.csv", encoding='latin1')
data_1950_2012 = data_1950_2012.merge(constructors_df[["constructorId", "name"]], on="constructorId", how = "left")

data_1950_2012 = data_1950_2012.drop(columns=["resultId", "raceId", "circuitId", "constructorId"])
data_1950_2012

,position,Starting Grid,laps,Fastest Lap Time,Driver,year,country,name
0,1.0,1,58,01:27.5,Lewis Hamilton,2008,Australia,McLaren
1,2.0,2,58,01:27.7,Nick Heidfeld,2008,Australia,BMW Sauber
2,3.0,3,58,01:28.1,Nico Rosberg,2008,Australia,Williams
3,4.0,4,58,01:28.6,Fernando Alonso,2008,Australia,Renault
4,5.0,5,58,01:27.4,Heikki Kovalainen,2008,Australia,McLaren
...,...,...,...,...,...,...,...,...
23772,16.0,16,54,01:43.8,Pierre Gasly,2017,UAE,Toro Rosso
23773,17.0,17,54,01:43.6,Marcus Ericsson,2017,UAE,Sauber
23774,18.0,18,54,01:42.3,Lance Stroll,2017,UAE,Williams
23775,NC,19,31,01:43.4,Carlos Sainz,2017,UAE,Renault
23776,NC,20,20,01:42.8,Daniel Ricciardo,2017,UAE,Red Bull

In [232]:
#now we will get rid of data from 2013 to present since we already have it in the other dataframe
data_1950_2012 = data_1950_2012.drop(data_1950_2012[data_1950_2012.year > 2012].index)

In [233]:
data_1950_2012 = data_1950_2012.rename(columns={'year' : "Year", "position" : "Ending Position", "Starting Grid" : "Starting Position", "laps" : "Laps", \
                                                "country" : "Track", "name" : "Constructor"})
data_1950_2012

,Ending Position,Starting Position,Laps,Fastest Lap Time,Driver,Year,Track,Constructor
0,1.0,1,58,01:27.5,Lewis Hamilton,2008,Australia,McLaren
1,2.0,2,58,01:27.7,Nick Heidfeld,2008,Australia,BMW Sauber
2,3.0,3,58,01:28.1,Nico Rosberg,2008,Australia,Williams
3,4.0,4,58,01:28.6,Fernando Alonso,2008,Australia,Renault
4,5.0,5,58,01:27.4,Heikki Kovalainen,2008,Australia,McLaren
...,...,...,...,...,...,...,...,...
21707,NC,23,0,DNF,Bruno Senna,2012,Brazil,Williams
21708,NC,24,0,DNF,Sergio PÃŒÂ©rez,2012,Brazil,Sauber
23534,NC,23,0,DNF,Vitantonio Liuzzi,2011,Australia,HRT
23535,NC,24,0,DNF,Narain Karthikeyan,2011,Australia,HRT
23536,NC,24,0,DNF,Sergio PÃŒÂ©rez,2011,Monaco,Sauber

In [234]:
data_1950_2012 = data_1950_2012.reindex(['Year', 'Track', 'Constructor','Driver', 'Starting Position', 'Ending Position', 'Laps', \
                                         'Fastest Lap Time'], axis=1)
data_1950_2012.sort_values(by = "Year")

,Year,Track,Constructor,Driver,Starting Position,Ending Position,Laps,Fastest Lap Time
20030,1950,UK,ERA,Cuth Harrison,7,7.0,67,DNF
20120,1950,Belgium,Alfa Romeo,Nino Farina,4,4.0,35,DNF
20121,1950,Belgium,Ferrari,Alberto Ascari,5,5.0,34,DNF
20122,1950,Belgium,Ferrari,Luigi Villoresi,6,6.0,33,DNF
20123,1950,Belgium,Talbot-Lago,Pierre Levegh,7,7.0,33,DNF
...,...,...,...,...,...,...,...,...
21383,2012,Canada,Force India,Paul di Resta,11,11.0,70,01:17.2
21382,2012,Canada,Ferrari,Felipe Massa,10,10.0,70,01:16.2
21381,2012,Canada,Sauber,Kamui Kobayashi,9,9.0,70,01:17.5
21348,2012,Spain,Mercedes,Michael Schumacher,24,NC,12,01:31.1
21357,2012,Monaco,Lotus F1,Kimi RÃŒ_ikkÃŒÂ¦nen,9,9.0,78,01:19.2

In [237]:
data_1950_2022 = data_1950_2012.merge(data_2013_2022, how='outer')
data_1950_2022.sort_values(by = "Year")

data_1950_2022.to_csv('../Resources/data_1950_2022.csv')